body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('myBg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 500px;
    background: rgba(22, 22, 22, 0.7);
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align:center;
}

.label{
    text-align:left;
    padding: 20px 20px;
    margin-bottom: 5px;
}
.content .text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #f1f1f1;
}

.field {
    position: relative;
    margin-bottom: 20px;
}

.field input {
    width: 100%;
    padding: 15px 15px 15px 15px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: rgba(26, 224, 224, 0.1);
    color: #fff;
    text-align: center;
}

.field input::placeholder {
    color: #bbb;
}

.field i {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 20px;
    color: #bbb;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: linear-gradient(45deg, #57a857, #32a852);
    color: #fff;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #32a852, #57a857);
}

.optional {
    margin: 20px 0;
    font-size: 14px;
    color: #bbb;
}

.icon-button {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.icon-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition:  0.3s ease;
}

.facebook {
    background: #3b5998;
    color: #fff;
}

.facebook:hover {
    background: #2d4373;
}

.google {
    background: #db4437;
    color: #fff;
}

.google:hover {
    background: #b3322a;
}

.custom-radio {
    display: flex;
    align-items: center;
    margin-top: 1px;
    color: #f1f1f1;
}

.custom-radio input[type="radio"] {
    margin-right: 10px;
}
